[Unit]
Description=RstEye Service
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/RstEyeApp
EnvironmentFile=%h/.config/rsteye.env
Restart=on-failure

[Install]
WantedBy=default.target