Package: rsteyeapp
Version: 1.0
Architecture: amd64
Maintainer: Prince Roshan <princekrroshan01@gmail.com>
Description: An App to take digital break
 An App to remind users to take breaks and relax their eyes while working on the computer.
